.conteudo{
    -fx-background-color: #000000;
    -fx-font-family: Lora;
}

.titulo{
    -fx-text-fill: #0077ff;
    -fx-font-size: 62px;
}


.numero{
    -fx-text-fill: white;
    -fx-font-size: 42px;
}

.botoes{
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-min-width: 60px;
    -fx-min-height: 60;
    -fx-backgroud-radius: 30px
}