.conteudo{
    -fx-background-color: #000000;
    -fx-font-family: Lora;
}

.titulo{
    -fx-text-fill: #ffffff;
    -fx-font-size: 62px;
}


.numero{
    -fx-text-fill: white;
    -fx-font-size: 42px;
}